<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pcg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">Variations - @ViewData["SessionName"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        @if ((string)ViewData["SessionType"] == "SUser")
                        {
                            <li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Pending">Pending</a></li>
                                    @*<li><a class="dropdown-item" asp-controller="User" asp-action="MyTask">My Task</a></li>*@
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="site" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Site</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Sites">Sites</a></li>                                  
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="ChangeInfo">Change Info</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log Out</a></li>                                   
                                </ul>
                            </li>
                        }
                        else
                        {
                            @*<li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tasks</button>
                                <ul class="dropdown-menu dropdown-menu-right"> 
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="MyTask">My Task</a></li>
                                </ul>
                            </li>*@
                            <li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Site</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Sites">Sites</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <button class="dropdown-toggle btn" onfocus="this.blur();" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="ChangeInfo">Change Info</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Log Out</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pcg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css"/>
    
</head>
<body>

<div class="sidebar">
    <div class="sidebar-header">
        <h5 id="sidebar-link">Variations - Top Notch</h5>
    </div>
    <a href="#" id="site">Site</a>
    <div id="subsite" style="display: none;">
        <a href="@Url.Action("AddSite", "User")">Add Site</a>                
    </div>
    <a href="#">nav 1</a>
    <a href="#">nav 2</a>
    <a href="#">nav 3</a>
    <a href="#" id="account">Account</a>
    <div id="subaccount" style="display: none;">
        <a href="@Url.Action("Logout", "Home")">- Logout</a>
        <a href="@Url.Action("ChangeInfo", "User")">- Change info</a>        
    </div>
</div>
<div class="container">        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $("#account").click(function(){
            $("#subaccount").slideToggle();
        });
    });
    $(document).ready(function(){
        $("#site").click(function(){
            $("#subsite").slideToggle();
        });
    });
    document.getElementById("sidebar-link").onclick = function() {
        window.location.href = "@Url.Action("Index", "User")";
    };
</script>
*@