@{
    ViewData["Title"] = "Account Deactivate";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/userlist.css" />
</head>
<body>
    <h1 style="text-align:center">@ViewData["Title"]</h1>
    <input class="form-control" type="text" id="search" placeholder="Search here" onkeyup="searchTable()">
    <div class="ccard" style="overflow-x: auto; max-width: 100%; border: 1px solid darkgray; border-collapse: collapse;">
        <table class="ctable ctable-hover ctable-responsive-sm ctable-sm" id="datatable" style="width: 100%; white-space: nowrap;">
            <thead>
                <tr>
                    <th class="text-center text-uppercase" data-sort="Name">Name</th>
                    <th class="text-center text-uppercase" data-sort="Position">Position</th>
                    <th class="text-center text-uppercase">Action</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @if (ViewBag.Users != null)
                {
                    @foreach (var dr in ViewBag.Users)
                    {
                        <tr id="row_@dr.Id" data-taskid="@dr.Id">
                            <td class="text-center text-nowrap">@dr.Name</td>
                            <td class="text-center text-nowrap">@dr.Position</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <form id="deactform_@dr.Id" asp-controller="Admin" asp-action="DeactivateAcc" method="post">
                                        <input type="hidden" name="id" value="@dr.Id" />
                                        <button type="button" class="cusbtn" data-bs-toggle="modal" data-bs-target="#confirmModal_@dr.Id" id="deact_@dr.Id">Deactivate</button>
                                    </form>
                                </div>
                            </td>
                        </tr>

                        <div class="modal fade" id="confirmModal_@dr.Id" tabindex="-1" aria-labelledby="confirmModalLabel_@dr.Id" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmModalLabel_@dr.Id">Confirm Deactivation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to DEACTIVATE this user?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="cusbtn" onclick="submitForm(@dr.Id)">Confirm</button>
                                        <button type="button" class="cusbtn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </tbody>
        </table>
    </div>

    <ul id="numbers" class="cpagination"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"></script>
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tr[i].style.display = "none";
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        }
                    }
                }
            }
            paginate();
        }

        function paginate() {
            const rowsPerPage = 10;
            const rows = $('#myTable tr:visible');
            const rowsCount = rows.length;
            const pageCount = Math.ceil(rowsCount / rowsPerPage);
            const numbers = $('#numbers');

            function generatePageNumbers(currentPage) {
                numbers.empty();
                numbers.append('<li class="cpage-item" id="prev-page"><a class="cpage-link" href="#"><</a></li>');

                let startPage = Math.max(1, currentPage - 2);
                let endPage = Math.min(pageCount, currentPage + 2);

                if (currentPage <= 3) {
                    endPage = Math.min(5, pageCount);
                } else if (currentPage >= pageCount - 2) {
                    startPage = Math.max(pageCount - 4, 1);
                }

                for (let i = startPage; i <= endPage; i++) {
                    numbers.append(`<li class="cpage-item"><a class="cpage-link" href="#">${i}</a></li>`);
                }

                numbers.append('<li class="cpage-item" id="next-page"><a class="cpage-link" href="#">></a></li>');

                togglePaginationButtons(currentPage, pageCount);
            }

            function displayRows(index, rows) {
                const start = (index - 1) * rowsPerPage;
                const end = start + rowsPerPage;
                rows.hide();
                rows.slice(start, end).show();

                rows.css('border-bottom', 'none');
                rows.slice(start, end).last().css('border-bottom', '1px solid black');
            }

            function togglePaginationButtons(currentPage, pageCount) {
                $('#prev-page').toggleClass('disabled', currentPage === 1);
                $('#next-page').toggleClass('disabled', currentPage === pageCount);
            }

            numbers.off('click').on('click', 'li.cpage-item a', function (e) {
                e.preventDefault();
                let pageNumber = $(this).text();
                let currentPage = parseInt($('#numbers li.active a').text());

                if (pageNumber === '>') {
                    pageNumber = currentPage + 1;
                } else if (pageNumber === '<') {
                    pageNumber = currentPage - 1;
                } else {
                    pageNumber = parseInt(pageNumber);
                }

                if (pageNumber >= 1 && pageNumber <= pageCount) {
                    displayRows(pageNumber, rows);
                    generatePageNumbers(pageNumber);
                    $('#numbers li').removeClass('active');
                    $('#numbers li a').filter(function () {
                        return $(this).text() == pageNumber;
                    }).parent().addClass('active');
                }
            });

            generatePageNumbers(1);
            displayRows(1, rows);
            $('#numbers li').eq(1).addClass('active');
        }

        $(document).ready(function () {
            var sortOrder = 1;
            var currentPage = 1;

            function splitAlphaNum(str) {
                return str.split(/(\d+)/).map(part => isNaN(part) ? part : parseInt(part, 10));
            }

            $('th').on('click', function () {
                var index = $(this).index();
                var rows = $('#datatable tbody tr').get();

                $('th').find('.sort-arrow').remove();

                $(this).append('<span class="sort-arrow">' + (sortOrder === 1 ? ' ▲' : ' ▼') + '</span>');

                rows.sort(function (a, b) {
                    var A = $(a).children('td').eq(index).text().trim();
                    var B = $(b).children('td').eq(index).text().trim();

                    var partsA = splitAlphaNum(A);
                    var partsB = splitAlphaNum(B);

                    for (var i = 0; i < Math.min(partsA.length, partsB.length); i++) {
                        if (partsA[i] < partsB[i]) return -1 * sortOrder;
                        if (partsA[i] > partsB[i]) return 1 * sortOrder;
                    }

                    return (partsA.length - partsB.length) * sortOrder;
                });

                sortOrder *= -1;

                $.each(rows, function (index, row) {
                    $('#datatable tbody').append(row);
                });

                paginate(currentPage);
            });
        });

        window.onload = function () {
            paginate();
        };

        function submitForm(id) {
            document.getElementById('deactform_' + id).submit();
        }
    </script>
</body>