@model DetailsModel

@{
    Layout = null;
    ViewData["Title"] = "Task Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="acontainer mt-4">
    <div class="acard mb-4">
        <div class="acard-header text-center">
            <h3 class="header"><i class="fas fa-tasks"></i> Task</h3>
        </div>
        <div class="acard-body">
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Task:</strong>
                <span class="col-8">@Model.Task</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Task ID:</strong>
                <span class="col-8">@Model.TaskId</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Type:</strong>
                <span class="col-8">@Model.Type</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Process:</strong>
                <span class="col-8">@Model.Process</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Assignee:</strong>
                <span class="col-8">
                    @if (Model.AssignId != null || Model.AssignId == "")
                    {
                        @Model.AssignId
                    }
                    else
                    {
                        @Model.ForwardId
                    }
                </span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Status:</strong>
                <span class="col-8">@Model.Status</span>
            </div>
        </div>
    </div>


    <div class="acard mb-4">
        <div class="acard-header text-center">
            <h3><i class="fas fa-tasks"></i> Site</h3>
        </div>
        <div class="acard-body">
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Site:</strong>
                <span class="col-8">@Model.Site</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Task ID:</strong>
                <span class="col-8">@Model.SiteId</span>
            </div>
            <div class="arow mb-3 bg-white p-2">
                <strong class="col-4 text-start">Added By:</strong>
                <span class="col-8">@Model.AddedBy</span>
            </div>
        </div>
    </div>

    <div class="acard mb-4">
        <div class="acard-header text-center">
            <h3><i class="fas fa-tasks"></i> Details</h3>
        </div>
        <div class="acard-body">
            <div class="arow mb-3 bg-white p-2">
                <p class="text-start">@Model.Details</p>
            </div>
        </div>
    </div>

</div>
<div>
    <form asp-controller="Admin" asp-action="Downloads" method="post">
        <input type="hidden" name="taskId" value="@Model.TaskId" />
        <button class="btn btn-warning btn-block" type="submit">See Files</button>
    </form>
</div>