@model pcg.Models.SitesModel

@{
    ViewData["Title"] = "Add Site";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.css">
</head>
<h1 style="text-align:center">Add Site</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddSite">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Client" class="control-label">Client</label>
        <input asp-for="Client" class="form-control"/>
    </div>                      
    <div class="form-group">
        <label asp-for="Site" class="control-label">Site</label>
        <input asp-for="Site" class="form-control"/>
    </div>
            <div style="display: flex; justify-content: center;">
                <div style="margin-right: 20%;">
                    <input class="form-check-input" type="radio" name="somom" id="som" value="som" style="transform: scale(1.5);" checked onchange="togglesomom('somdiv','omdiv','som')">
                    <label class="form-check-label" id="somlabel" for="som">SOM</label>
                </div>
                <div style="margin-left: 20%;">
                    <input class="form-check-input" type="radio" name="somom" id="om" value="om" style="transform: scale(1.5);" onchange="togglesomom('omdiv','somdiv','om')">
                    <label class="form-check-label" id="omlabel" for="om">OM</label>
                </div>
            </div>
    <div class="form-group" id="omdiv" style="display: none;">
        <label asp-for="SiteOM" class="control-label">Operation Manager</label>
        <select id="siteom" asp-for="SiteOM" class="form-control">
            @foreach(System.Data.DataRow dr in ViewBag.Userlist.Rows)
            {
                if (@dr["Position"].ToString() == "Operation Manager")
                {
                    <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                } 
            }
        </select>
    </div>
            <div class="form-group" id="somdiv" style="display: block;">
        <label asp-for="SiteSOM" class="control-label">Sr. Operation Manager</label>
        <select id="sitesom" asp-for="SiteSOM" class="form-control">
            @foreach(System.Data.DataRow dr in ViewBag.Userlist.Rows)
            {
                if (@dr["Position"].ToString() == "Sr. Operation Manager")
                {
                    <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                } 
            }
        </select>
    </div>
            <div style="display: flex; justify-content: center;">
                <div style="margin-right: 20%;">
                    <input class="form-check-input" type="radio" name="sctk" id="sc" value="sc" style="transform: scale(1.5);" checked onchange="togglesctk('scdiv','tkdiv','sc')">
                    <label class="form-check-label" id="sclabel" for="sc">SC</label>
                </div>
                <div style="margin-left: 20%;">
                    <input class="form-check-input" type="radio" name="sctk" id="tk" value="tk" style="transform: scale(1.5);" onchange="togglesctk('tkdiv','scdiv','tk')">
                    <label class="form-check-label" id="tklabel" for="tk">TK</label>
                </div>
            </div>
            <div class="form-group" id="scdiv" style="display: block;">
        <label asp-for="SiteSC" class="control-label">Site Coordinator</label>
        <select id="sitesc" asp-for="SiteSC" class="form-control">
            @foreach(System.Data.DataRow dr in ViewBag.Userlist.Rows)
            {
                if (@dr["Position"].ToString() == "Site Coordinator")
                {
                    <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                } 
            }
        </select>
    </div>
            <div class="form-group" id="tkdiv" style="display: none;">
        <label asp-for="SiteTK" class="control-label">Time Keeper</label>
        <select id="sitetk" asp-for="SiteTK" class="form-control">
            @foreach(System.Data.DataRow dr in ViewBag.Userlist.Rows)
            {
                if (@dr["Position"].ToString() == "Time Keeper")
                {
                    <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                } 
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Site" asp-action="AddSite" class="btn btn-primary btn-block" />
    </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = function () {
            preload();
        };
        const somdiv = document.getElementById("somdiv");
        const omdiv = document.getElementById("omdiv");
        const scdiv = document.getElementById("scdiv");
        const tkdiv = document.getElementById("tkdiv");
        const selsom = document.getElementById("sitesom");
        const selom = document.getElementById("siteom");
        const selsc = document.getElementById("sitesc");
        const seltk = document.getElementById("sitetk");
        const somlabel = document.getElementById("somlabel");
        const omlabel = document.getElementById("omlabel");
        const sclabel = document.getElementById("sclabel");
        const tklabel = document.getElementById("tklabel");
        const somop = sitesom.querySelector("option");
        const omop = siteom.querySelector("option");
        const scop = sitesc.querySelector("option");
        const tkop = sitetk.querySelector("option");
        
        function preload() {
            somdiv.style.display = "block";
            omdiv.style.display = "none";
            scdiv.style.display = "block";
            tkdiv.style.display = "none";
            selsom.value = selsom.options[0].value;
            selom.value = null;
            selsc.value = selsc.options[0].value;
            seltk.value = null;
            somlabel.style.fontWeight = "bold";
            omlabel.style.fontWeight = "normal";
            sclabel.style.fontWeight = "bold";
            tklabel.style.fontWeight = "normal";
        }

        function togglesomom(show, hide, select) {
            var show = document.getElementById(show);
            var hide = document.getElementById(hide);
            var sel = select.value;

            show.style.display = "block";
            hide.style.display = "none";
            
            if (select === "som") {
                selom.value = null;
                selsom.value = selsom.options[0].value;
                somlabel.style.fontWeight = "bold";
                omlabel.style.fontWeight = "normal";
            }
            if (select === "om") {
                selom.value = selom.options[0].value;
                selsom.value = null;
                somlabel.style.fontWeight = "normal";
                omlabel.style.fontWeight = "bold";
            }
        }

        function togglesctk(show, hide, select) {
            var show = document.getElementById(show);
            var hide = document.getElementById(hide);
            var sel = select.value;

            show.style.display = "block";
            hide.style.display = "none";

            if (select === "sc") {
                seltk.value = null;
                selsc.value = selsc.options[0].value;
                sclabel.style.fontWeight = "bold";
                tklabel.style.fontWeight = "normal";
            }
            if (select === "tk") {
                seltk.value = seltk.options[0].value;
                selsc.value = null;
                sclabel.style.fontWeight = "normal";
                tklabel.style.fontWeight = "bold";
            }
        }
    </script>
}