@model pcg.Models.VariationModel

@{
    ViewData["Title"] = "All Task";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h1 style="text-align:center">All Task</h1>
<input class="form-control" type="text" id="search" placeholder="Search here" onkeyup="searchTable()">
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task Info</th>
            <th class="text-center text-uppercase">Assignee</th>
            <th class="text-center text-uppercase">Request Date</th>
            <th class="text-center text-uppercase">Forward To Cad</th>
            <th class="text-center text-uppercase">For Quotation</th>
            <th class="text-center text-uppercase">Forwarded to Costing</th>
            <th class="text-center text-uppercase">Costing</th>
            <th class="text-center text-uppercase">Approval</th>
            <th class="text-center text-uppercase">Send to Client</th>
            <th class="text-center text-uppercase">Client Approval</th>
            <th class="text-center text-uppercase">Circulation</th>
        </tr>
    </thead>
    <tbody id="myTable" class="viewbag-data">
        @foreach (System.Data.DataRow dr in ViewBag.tlist.Rows)
        {
        <tr>
            <td class="text-center text-nowrap">@dr["TaskId"].ToString()</td>
                @if ((int)dr["Circulation"] >= 1)
                {
                    int cir = (int)dr["Circulation"] + 1;

                    <td class="text-center text-nowrap" style="font-weight: bold;">
                        @dr["TaskInfo"].ToString() v@(cir)
                    </td>
                }
                else
                {
                    <td class="text-center text-nowrap" style="font-weight: bold;">@dr["TaskInfo"].ToString()</td>
                }  
            <td class="text-center text-nowrap">@dr["Name"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateStart"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ1"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ2"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ3"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ4"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ5"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateRcvQ6"].ToString()</td>
            <td class="text-center text-nowrap">@dr["DateFwdQ7"].ToString()</td>
            <td class="text-center text-nowrap">@dr["Circulation"].ToString()</td>
        </tr>
        }
    </tbody>
</table>
<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>