@{
    ViewData["Title"] = "Declined Task";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<h1 style="text-align:center">Declined Task</h1>
<table class="ctable ctable-hover ctable-responsive-sm ctable-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Client/Site</th>
            <th class="text-center text-uppercase">Comment</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Declined.Rows)
        {
            <tr>
                <td class="text-center text-nowrap">@dr["TaskId"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Task"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Client"].ToString() @dr["Site"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Comment"].ToString()</td>
            </tr>
        }
    </tbody>
</table>