@model pcg.Models.AdminModel
@{
    ViewData["Title"] = "Admin Page";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<div class="ccard" style="overflow-x: auto; max-width: 100%; border: 1px solid darkgray; border-collapse: collapse;">
<table class="ctable ctable-hover ctable-responsive-sm ctable-sm" id="datatable">
    <thead>
        <tr>
            <th style="text-align: center; border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: white;" colspan="6">
                <h3>Variation</h3>
            </th>
        </tr>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Assignee</th>
            <th class="text-center text-uppercase">Client/Site</th> 
            <th class="text-center text-uppercase">Date</th>
        </tr>
    </thead>
    <tbody id="myTable" class="viewbag-data">
        @foreach (System.Data.DataRow dr in ViewBag.variation.Rows)
        {
        <tr data-taskid="@dr["TaskId"].ToString()">
            <td class="text-center text-nowrap show-details">@dr["TaskId"].ToString()</td>
            <td class="text-center text-nowrap show-details">@dr["Task"].ToString()</td>
            <td class="text-center text-nowrap show-details">@dr["Description"].ToString()</td>
            <td class="text-center text-nowrap show-details">@dr["Name"].ToString()</td>
            <td class="text-center text-nowrap show-details">@dr["Site"].ToString() @dr["Client"].ToString()</td>
            <td class="text-center text-nowrap show-details">@dr["DateStart"].ToString()</td>
        </tr>
        }
        <tr>
            <th style="text-align: center; border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: white;" colspan="6">
                <h3>Query</h3>
            </th>
        </tr>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Assignee</th>
            <th class="text-center text-uppercase">Client/Site</th>
            <th class="text-center text-uppercase">Date</th>
        </tr>
        @foreach (System.Data.DataRow dr in ViewBag.Query.Rows)
        {
            <tr data-taskid="@dr["TaskId"].ToString()">
                <td class="text-center text-nowrap show-details">@dr["TaskId"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Task"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Description"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Name"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Site"].ToString() @dr["Client"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["DateFwd"].ToString()</td>
            </tr>
        }
        <tr>
            <th style="text-align: center; border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: white;" colspan="6">
                <h3>Document Request</h3>
            </th>
        </tr>
        <tr>
            <th class="text-center text-uppercase">Task No.</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Assignee</th>
            <th class="text-center text-uppercase">Client/Site</th>
            <th class="text-center text-uppercase">Date</th>
        </tr>
        @foreach (System.Data.DataRow dr in ViewBag.docreq.Rows)
        {
            <tr data-taskid="@dr["TaskId"].ToString()">
                <td class="text-center text-nowrap show-details">@dr["TaskId"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Task"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Description"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Name"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["Site"].ToString() @dr["Client"].ToString()</td>
                <td class="text-center text-nowrap show-details">@dr["DateRcv"].ToString()</td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Task Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- _TaskDetails -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
<script>
    $(document).ready(function () {
        $('table tbody').on('click', 'tr .show-details', function () {
            var taskId = $(this).closest('tr').data('taskid');
            if (!taskId) {
                alert('Task ID is missing.');
                return;
            }
            var url = '/Admin/TaskDetails?taskId=' + encodeURIComponent(taskId);

            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#detailsModal .modal-body').html(data);
                    $('#detailsModal').modal('show');
                },
                error: function () {
                    alert('Failed to load task details.');
                }
            });
        });
    });
</script>