@model pcg.Models.ProcessModel

@{
    ViewData["Title"] = "For Approval";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<h1 style="text-align:center">For Approval</h1>
<div class="ccard" style="overflow-x: auto; max-width: 100%; border: 1px solid darkgray; border-collapse: collapse;">
    <table class="ctable ctable-hover ctable-responsive-sm ctable-sm">
        <thead>
            <tr>
                <th class="text-center text-uppercase">Task No.</th>
                <th class="text-center text-uppercase">Task</th>
                <th class="text-center text-uppercase">Description</th>
                <th class="text-center text-uppercase">Client/Site</th>
                <th class="text-center text-uppercase">Added By</th>
                <th class="text-center text-uppercase">Date Start</th>
                <th class="text-center text-uppercase">Assignee</th>
                <th class="text-center text-uppercase">Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (System.Data.DataRow dr in ViewBag.Tasklog.Rows)
            {
                <tr>
                    <td class="text-center text-nowrap">@dr["TaskID_Tasks"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["Task"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["Description"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["Client"].ToString() @dr["Site"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["AddedBy"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["DateStart"].ToString()</td>
                    <td class="text-center text-nowrap">@dr["Namea"].ToString()</td>
                    <td>
                        @if (dr["Status"].ToString() == "Waiting")
                        {
                            <div class="d-flex justify-content-center">
                                <div>
                                    <form id="approveForm-@dr["TaskID_Tasks"]" class="approve-form mr-2" asp-controller="Admin" asp-action="Approve" method="post">
                                        <input type="hidden" asp-for="TaskId" value="@dr["TaskID_Tasks"].ToString()" />
                                        <input type="hidden" asp-for="AssignId" value="@dr["AssignId"].ToString()" />
                                        <input type="hidden" asp-for="FwdId" value="@dr["ForwardId"].ToString()" />
                                        <input type="hidden" asp-for="Task" value="@dr["Task"].ToString()" />
                                        <input type="hidden" asp-for="Details" value="@dr["Details"].ToString()" />
                                        <input type="hidden" asp-for="Code" value="@dr["Code"].ToString()" />
                                        <button type="button" style="height: 25px; line-height: 12px;" class="btn btn-primary confirm-button">Approve</button>
                                    </form>
                                </div>
                                <div>
                                    <button id="decline_@dr["TaskID_Tasks"]" data-taskid="@dr["TaskID_Tasks"].ToString()" type="button" style="height: 25px; line-height: 12px;" class="btn btn-danger decline-confirm-button">Decline</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="modal fade" id="papprove_@dr["TaskID_Tasks"]" tabindex="-1" aria-labelledby="papprove_@dr["TaskID_Tasks"]Label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="papprove_@dr["TaskID_Tasks"]Label">Select Assignee</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form id="approveForm-@dr["TaskID_Tasks"]" class="approve-form" asp-controller="Admin" asp-action="Approve" method="post">
                                            <div class="modal-body">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="AssignId" class="control-label">Assignee</label>
                                                    <select asp-for="AssignId" class="form-control">
                                                        @foreach (System.Data.DataRow dar in ViewBag.Users.Rows)
                                                        {
                                                            <option value="@dar["Id"].ToString()">@dar["Name"].ToString(): @dar["Position"].ToString()</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="d-flex justify-content-center">
                                                    <input type="hidden" asp-for="TaskId" value="@dr["TaskID_Tasks"].ToString()" />
                                                    <input type="hidden" asp-for="FwdId" value="@dr["ForwardId"].ToString()" />
                                                    <input type="hidden" asp-for="Task" value="@dr["Task"].ToString()" />
                                                    <input type="hidden" asp-for="Details" value="@dr["Details"].ToString()" />
                                                    <input type="hidden" asp-for="Code" value="@dr["Code"].ToString()" />
                                                    <input type="hidden" asp-for="Status" value="@dr["Status"].ToString()" />
                                                    <button type="button" style="height: 25px; line-height: 12px;" class="btn btn-primary confirm-button">Approve</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" style="height: 25px; line-height: 12px; margin-right: 2px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#papprove_@dr["TaskID_Tasks"]">
                                    Approve
                                </button>
                                <button id="decline_@dr["TaskID_Tasks"]" data-taskid="@dr["TaskID_Tasks"].ToString()" type="button" style="height: 25px; line-height: 12px;" class="btn btn-danger decline-confirm-button">Decline</button>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to approve this task?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="confirm" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="declineModal" class="modal fade" tabindex="-1" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="declineModalLabel">Decline Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Decline modal -->
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"></script>
<script>
    $(document).ready(function() {
        $(".confirm-button").click(function() {
            var form = $(this).closest(".approve-form");
            $("#confirm").off("click").on("click", function() {
                form.submit();
            });
            $("#confirmModal").modal("show");
        });

        $('button[id^="decline_"]').click(function () {
            var $button = $(this);
            var taskId = $button.data('taskid');
            var url = '/Admin/Decline?taskId=' + encodeURIComponent(taskId);

            console.log(taskId);
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    $('#declineModal .modal-body').html(data);
                    $('#declineModal').modal('show');
                },
                error: function () {
                    alert('Failed to load content.');
                }
            });
        });
    });
</script>