@model pcg.Models.SitesModel

@{
    ViewData["Title"] = "Sites";
} 
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<div>
<h1 style="text-align:center">Site Status</h1>
</div>
<input class="form-control" type="text" id="search" placeholder="Search here" onkeyup="searchTable()">
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Client</th>
            <th class="text-center text-uppercase">Site</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Action</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Sitelist.Rows)
        {
            <tr class="row-click" onclick="toggleRows(this)">
                <td class="text-center text-nowrap">@dr["Client"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Site"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Status"].ToString()</td>
                <td class="text-center text-nowrap">
                    @if(dr["Status"].ToString() == "Inactive")
                    {
                        <form asp-action="SiteActivate" method="post">                
                            <input type="hidden" asp-for="SiteId" value="@dr["SiteId"].ToString()" />
                            <input type="submit" value="Activate" class="btn btn-primary"/>
                        </form>
                    }
                    else if(dr["Status"].ToString() == "Active")
                    {
                        <form asp-action="SiteDeactivate" method="post">                
                            <input type="hidden" asp-for="SiteId" value="@dr["SiteId"].ToString()" />
                            <input type="submit" value="Deactivate" class="btn btn-danger"/>
                        </form>
                    }
                </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }
</script>