@model pcg.Models.SitesModel
@{
    ViewData["Title"] = "Sites";
} 
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<div>
<h1 style="text-align:center">Sites</h1>
@*<a asp-controller="Admin" asp-action="AddSite" class="btn btn-primary btn-block">Add Site</a>*@
    <div class="modal fade" id="addSiteModal" aria-hidden="true" aria-labelledby="addSiteModalLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" style="text-align=ce" id="addSiteModalLabel">Add Site</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="addsiteform" asp-controller="Admin" asp-action="AddSite">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <div id="addSiteError" class="text-danger"></div>
                                    <label asp-for="Client" class="control-label">Client</label>
                                    <input asp-for="Client" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Site" class="control-label">Site</label>
                                    <input asp-for="Site" class="form-control" />
                                </div>
                                @*<div style="display: flex; justify-content: center;">
                                    <div style="margin-right: 20%;">
                                        <input class="form-check-input" type="radio" name="somom" id="som" value="som" style="transform: scale(1.5);" checked onchange="togglesomom('somdiv','omdiv','som')">
                                        <label class="form-check-label" id="somlabel" for="som">SOM</label>
                                    </div>
                                    <div style="margin-left: 20%;">
                                        <input class="form-check-input" type="radio" name="somom" id="om" value="om" style="transform: scale(1.5);" onchange="togglesomom('omdiv','somdiv','om')">
                                        <label class="form-check-label" id="omlabel" for="om">OM</label>
                                    </div>
                                </div>*@
                                <div class="form-group" id="omdiv" style="display: block;">
                                    <label asp-for="SiteOM" class="control-label">Operation Manager</label>
                                    <select id="siteom" asp-for="SiteOM" class="form-control">
                                        @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                                        {
                                            if (@dr["Position"].ToString() == "Operation Manager")
                                            {
                                                <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" id="somdiv" style="display: block;">
                                    <label asp-for="SiteSOM" class="control-label">Sr. Operation Manager</label>
                                    <select id="sitesom" asp-for="SiteSOM" class="form-control">
                                        @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                                        {
                                            if (@dr["Position"].ToString() == "Sr. Operation Manager")
                                            {
                                                <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <div style="margin-right: 20%;">
                                        <input class="form-check-input" type="radio" name="sctk" id="sc" value="sc" style="transform: scale(1.5);" checked onchange="togglesctk('scdiv','tkdiv','sc')">
                                        <label class="form-check-label" id="sclabel" for="sc">SC</label>
                                    </div>
                                    <div style="margin-left: 20%;">
                                        <input class="form-check-input" type="radio" name="sctk" id="tk" value="tk" style="transform: scale(1.5);" onchange="togglesctk('tkdiv','scdiv','tk')">
                                        <label class="form-check-label" id="tklabel" for="tk">TK</label>
                                    </div>
                                </div>
                                <div class="form-group" id="scdiv" style="display: block;">
                                    <label asp-for="SiteSC" class="control-label">Site Coordinator</label>
                                    <select id="sitesc" asp-for="SiteSC" class="form-control">
                                        @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                                        {
                                            if (@dr["Position"].ToString() == "Site Coordinator")
                                            {
                                                <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" id="tkdiv" style="display: none;">
                                    <label asp-for="SiteTK" class="control-label">Time Keeper</label>
                                    <select id="sitetk" asp-for="SiteTK" class="form-control">
                                        @foreach (System.Data.DataRow dr in ViewBag.Userlist.Rows)
                                        {
                                            if (@dr["Position"].ToString() == "Time Keeper")
                                            {
                                                <option value="@dr["Id"].ToString()">@dr["Name"].ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" onclick="openConfirmModal()">Add Site</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="siteConfirmModal" aria-hidden="true" aria-labelledby="siteConfirmModalLabel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="siteConfirmModalLabel">Site Confirm</h1>
                    <button type="button" class="btn-close" onclick="closeConfirmModal()" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure the details are correct and add this site?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="closeConfirmModal()" data-bs-dismiss="modal">Close</button>
                    <button onclick="submitConfirmModal()" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary btn-block" data-bs-target="#addSiteModal" data-bs-toggle="modal">Add Site</button>

</div>
<input class="form-control" type="text" id="search" placeholder="Search here" onkeyup="searchTable()">
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Client/Site</th>
            <th class="text-center text-uppercase">SOM</th>
            <th class="text-center text-uppercase">OM</th>
            <th class="text-center text-uppercase">SC/TK</th>
            <th class="text-center text-uppercase">Details</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Sitelist.Rows)
        {
            <tr class="row-click" onclick="toggleRows(this)">
                <td class="text-center text-nowrap">@dr["Client"].ToString() @dr["Site"].ToString()</td>
                <td class="text-center text-nowrap">@dr["SOM"].ToString()</td>
                <td class="text-center text-nowrap">@dr["OM"].ToString()</td>
                <td class="text-center text-nowrap">@dr["SC"].ToString()@dr["TK"].ToString()</td>
                <td class="text-center text-nowrap">         
                    <div style="text-align:center">
                        <form style="display: inline-block; margin-right: 1px;" asp-controller="Admin" asp-action="TaskDetail" method="get">
                            <input type="hidden" asp-for="SiteId" value="@dr["SiteId"].ToString()" />
                            <button type="submit" class="btn btn-link p-0 m-0 text-primary border-0">Task Details</button>
                        </form> |
                        <form style="display: inline-block; margin-left: 1px;" asp-controller="Admin" asp-action="AddTask" method="get">
                            <input type="hidden" asp-for="SiteId" value="@dr["SiteId"].ToString()" />
                            <button type="submit" class="btn btn-link p-0 m-0 text-primary border-0">Add Task</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    function searchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    }

    // const somdiv = document.getElementById("somdiv");
    // const omdiv = document.getElementById("omdiv");
    const scdiv = document.getElementById("scdiv");
    const tkdiv = document.getElementById("tkdiv");
    // const selsom = document.getElementById("sitesom");
    // const selom = document.getElementById("siteom");
    const selsc = document.getElementById("sitesc");
    const seltk = document.getElementById("sitetk");
    // const somlabel = document.getElementById("somlabel");
    // const omlabel = document.getElementById("omlabel");
    const sclabel = document.getElementById("sclabel");
    const tklabel = document.getElementById("tklabel");

    window.onload = function () {
        preload();
    }
    function preload() {
        @*somdiv.style.display = "block";
        omdiv.style.display = "none";*@
        scdiv.style.display = "block";
        tkdiv.style.display = "none";
        // selsom.value = selsom.options[0].value;
        // selom.value = null;
        selsc.value = selsc.options[0].value;
        seltk.value = null;
        // somlabel.style.fontWeight = "bold";
        // omlabel.style.fontWeight = "normal";
        sclabel.style.fontWeight = "bold";
        tklabel.style.fontWeight = "normal";
    }

    // function togglesomom(show, hide, select) {
    //     var show = document.getElementById(show);
    //     var hide = document.getElementById(hide);

    //     show.style.display = "block";
    //     hide.style.display = "none";

    //     if (select === "som") {
    //         document.getElementById("siteom").value = null;
    //         document.getElementById("sitesom").value = document.getElementById("sitesom").options[0].value;
    //         document.getElementById("somlabel").style.fontWeight = "bold";
    //         document.getElementById("omlabel").style.fontWeight = "normal";
    //     }
    //     if (select === "om") {
    //         document.getElementById("siteom").value = document.getElementById("siteom").options[0].value;
    //         document.getElementById("sitesom").value = null;
    //         document.getElementById("somlabel").style.fontWeight = "normal";
    //         document.getElementById("omlabel").style.fontWeight = "bold";
    //     }
    // }

    function togglesctk(show, hide, select) {
        var show = document.getElementById(show);
        var hide = document.getElementById(hide);

        show.style.display = "block";
        hide.style.display = "none";

        if (select === "sc") {
            document.getElementById("sitetk").value = null;
            document.getElementById("sitesc").value = document.getElementById("sitesc").options[0].value;
            document.getElementById("sclabel").style.fontWeight = "bold";
            document.getElementById("tklabel").style.fontWeight = "normal";
        }
        if (select === "tk") {
            document.getElementById("sitetk").value = document.getElementById("sitetk").options[0].value;
            document.getElementById("sitesc").value = null;
            document.getElementById("sclabel").style.fontWeight = "normal";
            document.getElementById("tklabel").style.fontWeight = "bold";
        }
    }

    const addsitemodal = document.getElementById('addSiteModal');

    function openConfirmModal() {
        var form = document.getElementById("addsiteform");
        $('#siteConfirmModal').modal('show');
        addsitemodal.style.opacity = '0.7';
    }

    function submitConfirmModal() {
        var form = document.getElementById("addsiteform");
        $('#siteConfirmModal').modal('hide');
        addsitemodal.style.opacity = '1';

        $.ajax({
            url: '/Admin/AddSite',
            type: 'POST',
            data: $(form).serialize(),
            success: function (response) {
                if (response.success) {
                    $('#addSiteModal').modal('hide');
                    location.reload();
                } else {
                    if (response.errors) {
                        var errorMessage = response.errors.join('<br>');
                        $('#addSiteError').html(errorMessage);
                    } else {
                        $('#addSiteError').html('Invalid input');
                    }
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }

    function closeConfirmModal() {
        $('#siteConfirmModal').modal('hide');
        addsitemodal.style.opacity = '1';
    }
</script>
