@model pcg.Models.ProcessModel

@{
    ViewData["Title"] = "Forward";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h1 style="text-align:center">Forward Task</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css">

<form asp-controller="Admin" asp-action="TaskForward" method="post">

<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">TaskId</th>
            <th class="text-center text-uppercase">Task</th>
            <th class="text-center text-uppercase">Remarks</th> 
            <th class="text-center text-uppercase">Description</th>
            <th class="text-center text-uppercase">Assignee</th>
        </tr>
    </thead>  
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Tasklog.Rows)
        {
            <tr>
                <td class="text-center text-nowrap">@dr["TaskId"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Task"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Remarks"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Description"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Name"].ToString()</td>       
            </tr>
        }
    </tbody>
</table>
 @foreach (System.Data.DataRow dr in ViewBag.Tasklog.Rows)
 {
    <div class="form-group">
        <label asp-for="Task" class="control-label">Change Task Name (Optional)</label>
        <input asp-for="Task" class="form-control" value="@dr["Task"].ToString()" placeholder="@dr["Task"].ToString()"/>
    </div>
    <div class="form-group">
        <label asp-for="Remarks" class="control-label">Change Remarks (Optional)</label>
        <input asp-for="Remarks" class="form-control" value="@dr["Remarks"].ToString()" placeholder="@dr["Remarks"].ToString()"/>
    </div>
 }
    <div class="form-group" id="code">
        <label for="codeOption" asp-for="Code" class="control-label">Process</label>
        <select id="codeOption" asp-for="Code" class="form-control">
            @foreach (System.Data.DataRow dar in ViewBag.Process.Rows)
            {
                <option value="@dar["Code"].ToString()">@dar["Process"].ToString()</option>
            }
    </select>
    </div>
    <div class="form-group" id="assign">
        <label for="assignOption" asp-for="AssignId" class="control-label">Select Assignee</label>
        <select id="assignOption" asp-for="AssignId" class="form-control" placeholder="Search...">
            @foreach (System.Data.DataRow dar in ViewBag.Users.Rows)
            {
                <option value="@dar["Id"].ToString()">@dar["Name"].ToString(): @dar["Position"].ToString()</option>
            }
        </select>
    </div>
    <div class="form-group">
        @foreach (System.Data.DataRow dr in ViewBag.Tasklog.Rows)
        {
            <input type="hidden" name="taskId" value="@dr["TaskId"].ToString()" />
            <input type="submit" value="Forward" class="btn btn-primary" />
        }
    </div>
</form>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#assignOption').selectize({
                allowEmptyOption: true,
                create: false,
                sortField: 'text'
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            function showoptions() {
                var codeOption = document.getElementById("codeOption").value;
                var assignDiv = document.getElementById("assign");
                var assignOption = document.getElementById("assignOption");

                if (codeOption === "Q7") {
                    assignDiv.style.display = "none";
                    assignOption.value = "@ViewData["SessionId"]";
                } else {
                    assignDiv.style.display = "block";
                }
            }
            showoptions();
            document.getElementById("codeOption").addEventListener("change", showoptions);
        });
    </script>
}
